@import '../../assets/styles/variables';

.wrapper {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    .flex {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;

        > div {
            margin-bottom: 24px;
        }
    }

    a {
        font-size: $h2-font-size !important;
        border-radius: 8px;
        padding: 12px 24px;
        margin-right: 12px;
    }
}

.background {
    position: fixed;
    z-index: -1;

    &.background--1 {
        bottom: 0;
        left: 50%;
        transform: translate(0, 0);
        width: 25rem;
        height: 25rem;
    }

    &.background--2 {
        top: -20%;
        left: -10%;
        width: 35rem;
        height: 35rem;
    }

    .background__orb {
        width: 100%;
        height: 100%;
        border-radius: 50% 22% 40% 80%;  
        filter: blur(100px);
        background: radial-gradient(circle at center, $primary-color, $primary-color--variant);
        opacity: .4;
    }
}