play-page {
    width: 100%;
}

.wrapper {
    .list--vertical {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        margin-bottom: 24px;
    }

    .list--horizontal {
        width: 100%;
        overflow: auto;
        margin-bottom: 24px;

        > div {
            display: flex;
            gap: 24px;
        }
    }

    .options > div {
        display: flex;
        margin-bottom: 12px;
        gap: 12px;
        justify-content: end;
        align-items: center;

        & > div {
            margin: 0;
        }

        button {
            padding: 4px 12px;
            height: 40px;
            border-radius: 8px;
        }

        .options__input {
            border-radius: 8px !important;
            height: calc(40px - 8px) !important;
            width: calc(100% - 40px) !important;
        }

        .options__label {
            top: 9px;
        }
    }

    .visibility__sort-by > div,
    .visibility__display-options > div {
        display: flex;
        gap: 4px;
    }

    .card {
        width: 252px;
        background: var(--background-color);
        border-radius: 12px;
        border: 1px dashed var(--border-color);
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: .2s ease-in;
        min-height: 160px;

        span {
            font-size: $h1-font-size;
        }

        &:hover {
            border: 1px solid var(--primary-color);
        }
    }
}