play-page {
    width: 100%;
}

.wrapper {
    .list--vertical {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }

    .list--horizontal {
        width: 100%;
        overflow: auto;

        > div {
            display: flex;
            gap: 24px;
        }
    }
}