@import '../../assets/styles/variables';

.toolbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    
    .toolbar__item {
        width: 64px;
        height: 64px;
        cursor: pointer;
        padding: 12px;
        border-radius: 12px;
        border: 1px solid transparent;
        margin: 1px;

        transition: .2s ease-in-out;

        img {
            max-width: 100%;
            width: 100%;
            pointer-events: none;
            image-rendering: pixelated;
        }

        &:hover {
            background-color: #FFFFFF;
            border: 1px solid #D9DBDD;
            color: $primary-color;
            
            box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
        }

        &.toolbar__item--selected {
            background-color: #FFFFFF;
            border: 1px solid $primary-color;
            color: $primary-color;
            box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);

            transition: none;

            img {
                opacity: 0;
            }
        }
    }
}

.custom_cursor {
    display: none;
    pointer-events: none;
    user-select: none;
    position: fixed;
    will-change: transform;

    width: 64px;
    height: 64px;
    padding: 12px;
    
    left: 0;
    top: 0;
    transition: 25ms ease-in-out;
    z-index: 1000;

    img {
        image-rendering: pixelated;
        max-width: 100%;
        width: 100%;
    }

    &.custom_cursor--initialized {
        display: block;
    }
    
    &.custom_cursor--disable {
        display: none;
    }

    &.custom_cursor--focused {
        transition: width .1s ease-in;
        width: 72px;
        height: 72px;
    }
}