/* font-size */
$title-font: 'Fira Sans Condensed', -apple-system, sans-serif;
$body-font: -apple-system, sans-serif;

$h1-font-size: 2.1rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1.25rem;
$h4-font-size: 0.93rem;
$body-font-size: 0.93rem;
$body-2-font-size: 0.875rem;
$caption-font-size: 0.825rem;

/* font weight */
$regular-font: 400;
$semi-bold-font: 600;
$bold-font: 700;

/* breakpoint */
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1280px;

// light theme
$theme-map-light: (
    /* color schema */
    --primary-color: #7a09fa,
    --primary-color--variant: #caa2f8,
    --shadow-color: rgba(0, 0, 0, 0.06),
    --background-color: #ffffff,
    --surface-color: #ffffff,
    --surface-color--variant: #F7F9FB,
    --error-color: #ff0040,
    --border-color: #D9DBDD,
    --border-color--variant: #7a09fa,

    /* emphasis */
    --high-emphasis-color: #1C1C1C,
    --medium-emphasis-color: #37352f,
    --disabled-color: #9E9E9E,
);

// dark theme
$theme-map-dark: (
    /* color schema */
    --primary-color: #7a09fa,
    --primary-color--variant: #caa2f8,
    --shadow-color: rgba(158, 158, 158, 0.06),
    --background-color: #121212,
    --surface-color: #1e1e1e,
    --surface-color--variant: #212121,
    --error-color: #ff0040,
    --border-color: #434343,
    --border-color--variant: #7a09fa,

    /* emphasis */
    --high-emphasis-color: #e0e0e0,
    --medium-emphasis-color: #a0a0a0,
    --disabled-color: #6c6c6c,
);

// dark dimmed theme
$theme-map-dark-dimmed: (
    /* color schema */
    --primary-color: #7a09fa,
    --primary-color--variant: #caa2f8,
    --shadow-color: #24313e,
    --background-color: #1b2936,
    --surface-color: #233446,
    --surface-color--variant: #2e3e4f,
    --error-color: #ff0040,
    --border-color: #37434e,
    --border-color--variant: #7a09fa,

    /* emphasis */
    --high-emphasis-color: #e6e7e9,
    --medium-emphasis-color: #a4a9af,
    --disabled-color: #727a83,
);

// contrast theme
$theme-map-contrast: (
    /* color schema */
    --primary-color: #ffeb57,
    --primary-color--variant: #ffeb57,
    --shadow-color: #000000,
    --background-color: #000000,
    --surface-color: #000000,
    --surface-color--variant: #000000,
    --error-color: #ff0040,
    --border-color: #ffffff,
    --border-color--variant: #ffffff,

    /* emphasis */
    --high-emphasis-color: #ffffff,
    --medium-emphasis-color: #ffffff,
    --disabled-color: #c7cfdd,
);