@import 'variables';
@import 'mixins';

body[data-theme="light"], body {
    @include spread-map($theme-map-light);
}

body[data-theme="dark"] {
    @include spread-map($theme-map-dark);
}

body[data-theme="dark-dimmed"] {
    @include spread-map($theme-map-dark-dimmed);
}

body[data-theme="contrast"] {
    @include spread-map($theme-map-contrast);
}


* {
    box-sizing: border-box;
}

/* text */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $title-font;
    font-weight: $bold-font;
    line-height: 1.2;

    color: var(--high-emphasis-color);
    margin-bottom: 12px;
}

h1 {
    font-size: $h1-font-size;
}

h2 {
    font-size: $h2-font-size;
}

h3 {
    font-size: $h3-font-size;
}

h4 {
    font-size: $h4-font-size;
}

p,
a,
li,
span,
input,
label,
textarea,
div,
button,
select,
div {
    font-family: $body-font;
    font-size: $body-font-size;

    color: var(--medium-emphasis-color);

    line-height: 1.6;
    letter-spacing: -.02em;
}

.caption {
    font-size: $caption-font-size;
}

.bold {
    font-weight: $semi-bold-font;
    color: var(--high-emphasis-color);
}

.link:hover {
    color: var(--primary-color--variant);
    text-decoration: underline;
}

.land__link {
    color: var(--primary-color);
    font-weight: $bold-font;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--primary-color);
    cursor: pointer;
    text-decoration: none
}

.icon {
    width: 48px;
    height: 48px;
    background: var(--surface-color);
    border: 1px solid var(--border-color);
    box-shadow: 0px 4px 16px var(--shadow-color);
    border-radius: 12px;
    color: var(--high-emphasis-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .2s cubic-bezier(1, 0, 1, 1);
    user-select: none;

    span {
        color: var(--high-emphasis-color);
    }

    &:hover {
        transition: .2s ease-in;
        border: 1px solid var(--primary-color);
    }
}

*::-webkit-scrollbar {
    width: .6em;
    height: .6em;
}
 
*::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--surface-color--variant);
    border: 1px solid var(--border-color);

    &:hover {
        background: var(--surface-color);
        box-shadow: 0 4px 16px var(--shadow-color);
    }
}

/* content */
body {
    min-height: 100vh;
    height: 100vh;
    overflow: hidden;
    background: var(--background-color);
}

img {
    max-width: 100%;
}

.container-wrapper {
    position: relative;
    padding: 0 32px;
    max-width: 1280px;
    margin: 0 auto;
}

main#app {
    height: calc(100% - 138px);
    overflow: auto;
    display: flex;
}

.header-navigation {
    width: 100%;
    padding: 12px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;

    .toolbar-menu {
        background: var(--background-color);
    }

    @media (max-width: $breakpoint-sm) {
        padding: 12px;

        .toolbar-menu {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;

            > * {
                display: flex;
                justify-content: center;
            }
        }
    }

    & > div:last-child {
        position: relative;
        display: flex;
        justify-content: end;
    }

    .back-menu {
        &.back-menu--disabled > div {
            transition: none;
            display: none;
            pointer-events: none;
        }
    }
}

.footer-main {
    text-align: center;
    position: absolute;
    bottom: 4px;
    width: 100%;

    @media (max-width: $breakpoint-sm) {
        display: none;
        pointer-events: none;
    }
}

/* animation */

.transitionAnimation {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: var(--primary-color);
    z-index: 10000;
    display: none;
    transition: .4s ease-in-out opacity;
}

.transitionAnimation--setLeft {
    transform: translate3d(100%, 0, 0);
    display: block;
}

.transitionAnimation--setRight {
    transform: translate3d(-100%, 0, 0);
    display: block;
}

.transitionAnimation--moveToLeft {
    animation: transitionAnimation--moveToLeft 200ms forwards;
    display: block;
}

@keyframes transitionAnimation--moveToLeft {
    to {
        transform: translate3d(100%, 0, 0);
    }
}

.transitionAnimation--moveToRight {
    animation: transitionAnimation--moveToRight 200ms forwards;
    display: block;
}

@keyframes transitionAnimation--moveToRight {
    to {
        transform: translate3d(-100%, 0, 0);
    }
}

.transitionAnimation--moveToCenter {
    animation: transitionAnimation--moveToCenter 200ms forwards;
    display: block;
}

@keyframes transitionAnimation--moveToCenter {
    to {
        transform: translate3d(0, 0, 0);
    }
}

.transitionAnimation--opacity {
    opacity: 0;
    display: block;
    animation: transitionAnimation--opacity 1000ms ease-in-out;
    animation-delay: 0ms
}

@keyframes transitionAnimation--opacity {
    0% {
        opacity: 0;
    }
    40%, 70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.pinBox {    
    display: inline-block;
    position: relative;
    width: 296px;
    height: 74px;
    background-image: url(https://i.stack.imgur.com/JbkZl.png); 
  }

.pinEntry {
    font-family: courier, monospaced;
    font-size: 47px;
    height: 74px;
    letter-spacing: 47px;
    background-color: transparent;
    border: 0;
    outline: none;
    clip: rect(0px, calc(296px - 21px), 74px, 0px);
  }