@import 'variables.scss';
@import 'material_icon.scss';

* {
    box-sizing: border-box;
}

/* text */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $title-font;
    font-weight: $bold-font;
    line-height: 1.2;

    color: $high-emphasis-color;
    margin-bottom: 12px;
}

h1 {
    font-size: $h1-font-size;
}

h2 {
    font-size: $h2-font-size;
}

h3 {
    font-size: $h3-font-size;
}

h4 {
    font-size: $h4-font-size;
}

p,
a,
li,
span,
input,
label,
textarea,
div {
    font-family: $body-font;
    font-size: $body-font-size;

    color: $medium-emphasis-color;

    line-height: 1.6;
    letter-spacing: -.02em;
}

.caption {
    font-size: $caption-font-size;
}

.bold {
    font-weight: $semi-bold-font;
    color: $high-emphasis-color;
}

.link:hover {
    color: $primary-color--variant;
    text-decoration: underline;
}

.land__link {
    color: $primary-color;
    font-weight: $bold-font;
    border-bottom: 1px solid $primary-color;
    cursor: pointer;
    text-decoration: none
}

.icon {
    width: 48px;
    height: 48px;
    background: $background-color;
    border: 1px solid $border-color;
    box-shadow: 0px 4px 16px $shadow-color;
    border-radius: 12px;
    color: $high-emphasis-color;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .2s cubic-bezier(1, 0, 1, 1);
    user-select: none;

    span {
        color: $high-emphasis-color;
    }

    &:hover {
        transition: .2s ease-in;
        border: 1px solid $primary-color;
    }
}

/* content */
body {
    min-height: 100vh;
    height: 100vh;
    overflow: hidden;
}

img {
    max-width: 100%;
}

.container-wrapper {
    position: relative;
    padding: 0 32px;
    max-width: 1280px;
    margin: 0 auto;
}

main#app {
    height: 100%;
    display: flex;
    justify-content: center;
}

.header-navigation {
    width: 100%;
    padding: 12px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background: $background-color;

    .toolbar-menu {
        background: $background-color;
    }

    @media (max-width: $breakpoint-sm) {
        padding: 12px;

        .toolbar-menu {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;

            > * {
                display: flex;
                justify-content: center;
            }
        }
    }

    & > div:last-child {
        position: relative;
        display: flex;
        justify-content: end;
    }

    .back-menu {
        &.back-menu--disabled > div {
            transition: none;
            display: none;
            pointer-events: none;
        }
    }
}

.footer-main {
    text-align: center;
    position: absolute;
    bottom: 4px;
    width: 100%;

    @media (max-width: $breakpoint-sm) {
        display: none;
        pointer-events: none;
    }
}

/* animation */

.transitionAnimation {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: $primary-color;
    z-index: 10000;
    display: none;
}

.transitionAnimation--left {
    transform: translate3d(100%, 0, 0);
    display: block;
    animation: transitionAnimation--left 850ms ease-in-out;
    animation-delay: 300ms
}

@keyframes transitionAnimation--left {
    0% {
        transform: translate3d(100%, 0, 0);
    }
    45%, 55% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

.transitionAnimation--right {
    transform: translate3d(-100%, 0, 0);
    display: block;
    animation: transitionAnimation--right 850ms ease-in-out;
    animation-delay: 300ms
}

@keyframes transitionAnimation--right {
    0% {
        transform: translate3d(-100%, 0, 0);
    }
    45%, 55% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(100%, 0, 0);
    }
}