.block__content {
    width: 100%;
    height: 100%;
    user-select: none;
}

.block__content img {
    width: 100%;
    pointer-events: none;
    image-rendering: pixelated;
    user-select: none;
}